@import url("https://fonts.googleapis.com/css?family=Monoton");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

/* ------------------------*/
/* ------NAV START---------*/
/* ------------------------*/

.nav-wrapper {
  background-color: black;
  font-size: 40px;
}

.apptitle {
  font-family: "Monoton", Helvetica, sans-serif;
  letter-spacing: 5px;
}

.nav-link {
  color:rgb(255, 255, 255);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  font-weight: bold;
}



.nav-link:hover {
  color: #ebb694f6;
  font-weight: bold;
}

.beans {
  width: 200%;
}

.titlemargin {
  padding-left: 40px;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
}

.left {
  margin-left: 25px;
}
.right {
  margin-right: 25px;
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.boxes {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
  width: 200px;
  height: 80px;
  padding: 20px;
  border: 2px solid white;
}
.content-box {
  box-sizing: content-box;
}

/*----------------------*/
/*------HOME START------*/
/*----------------------*/

.home {
  margin-top: 190px;
  display: flex;
  justify-content: space-between;
}

.intro {
  font-weight: bolder;
  background: -webkit-linear-gradient(#eee, #ebb694f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Monoton", Helvetica, sans-serif;
}

.intro2 {
  display: inline;
  font-size: 6.5vw;
  text-transform: uppercase;
  color: #f49e4c;
}

.introcontainer {
  padding-top: 52px;
}

a {
  text-decoration: none;
}

.menu {
  position: relative;
  margin-top: 6%;
  left: 50%;
  width: 0px;
  transform: translate(-50%, 55%);
}

.toggle {
  display: none;
}

.wheelicon {
  position: absolute;
  left: 40px;
  top: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.kettle {
  position: absolute;
  top: 20px;
}

.wheelselect {
  position: absolute;
}

.wheelselect:hover {
  opacity: 0;
  transition: opacity 2s;
}

.icontext {
  z-index: -1;
  width: 420px;
  line-height: 20px;
  color: black;
  display: inline-block;
  padding: 200px 0px;
  vertical-align: middle;
  font-family: "Trebuchet MS";
  height: 450px;
  max-width: 85px;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  padding-left: 6px;
}

.toggle + .style {
  border: 10px solid #ebb694f6;
  width: 325px;
  height: 325px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.3);
  z-index: 5;
  display: block;
  max-width: 400px;
  margin-bottom: 0;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  padding-top: 75px;
  text-align: center;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.toggle + .style:hover {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.7);
}

.toggle:checked + .style {
  transform: translate(-50%, -50%) scale(0.35);
}

.menu input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
}

.toggle + .style:before,
.toggle + .style:after {
  content: "";
  position: absolute;
  margin: -3px;
  border-radius: 5px;
  transition: all 0.3s;
}

.toggle + .style:before {
  width: 30px;
  height: 0px;
  left: 10px;
  top: 25px;
}

.toggle + .style:after {
  width: 0px;
  height: 30px;
  left: 25px;
  top: 10px;
}

.toggle:checked + .style:before,
.toggle:checked + .style:after {
  transform: rotate(135deg);
}

.toggle ~ .tab {
  position: absolute;
  background: #ffffff;
  color: black;
  width: 125px;
  height: 125px;
  left: 0px;
  top: 0px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  opacity: 0;
  border-radius: 50%;
  border: 4px solid #ebb694f6;
}

.toggle:checked ~ .tab {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.menu > .toggle:checked ~ .tab:nth-of-type(1) {
  top: -122px;
  left: 0px;
  transition-delay: 0s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(2) {
  top: -74px;
  left: 120px;
  transition-delay: 0.125s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(3) {
  top: 56px;
  left: 115px;
  transition-delay: 0.25s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(4) {
  top: 122px;
  left: 0px;
  transition-delay: 0.375s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(5) {
  top: 56px;
  left: -115px;
  transition-delay: 0.5s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(6) {
  top: -74px;
  left: -120px;
  transition-delay: 0.625s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(7) {
  top: 0px;
  left: -230.33333px;
  transition-delay: 0.75s;
}

.menu > .toggle:checked ~ .tab:nth-of-type(8) {
  top: 0px;
  left: 230.333333px;
  transition-delay: 0.875s;
}

/*----------------------------------*/
/* -------INSTRUCTIONS START--------*/
/*----------------------------------*/

.instruction-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 80px;
}

.timer-start {
  cursor: pointer;
  width: 150px;
  border: 5px solid #ebb694f6;
  border-radius: 50%;
  margin-top: 17px;
  margin-left: 30px;
}

.timer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 0px;
  font-weight: bold;
  font-size: 45px;
}

.btn {
  background-color: #ebb694f6 !important;
  margin: 5px;
  color: black !important;
  font-weight: bold;
  width: 100px;
  border: 1.3px solid #fffffff6 !important;
  transition: all .4s ease;
}

.btn:hover {
  background-color: rgb(231, 231, 250) !important;
  color: rgb(0, 0, 0) !important;
}

.btn-grp {
  margin-top: 10px;
}

.instruction-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding-bottom: 80px;
 
}

.measurements {
  float: right;
  margin-top: 6px;
  font-size: 26px;
  padding-left: 200px;
}

.ingredients {
  font-size: 26px;
  line-height: 50px;
}

.btmborder {
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-width: 3px;
}

.steps-content {
  text-align: center;
  text-transform: none;
  /*background-color: rgba(255, 255, 0, 0.062);*/
}

.step-line-height {
  line-height: 0px;

}

.pad {
  padding-top: 15px;
}

.DisplayDiv {
  text-align: center;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.plus {
  cursor: pointer;
 margin-left: 19px;
 transition: box-shadow .3s;
border-radius: 50%;
background-image: url('../src/images/icons/plus.png');

}

.plus:hover {
 
  box-shadow: inset 0 0 20px rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(255, 255, 255);
  border-radius: 50%;
  background-image: url('../src/images/icons/pluswhite.png')
}

.minus {
  cursor: pointer;
 margin-left: 19px;
 transition: box-shadow .3s;
border-radius: 50%;

}

.minus:hover {
 
  box-shadow: inset 0 0 20px rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(255, 255, 255);
  border-radius: 70%;
  background-image: url('../src/images/icons/minuswhite.png');
  visibility: visible;
  opacity: 1;
  display: inline;
}

.cuplogo {
  padding-left: 53px;
}

.cupbtn {
 display: flex;
 align-items: center;
 padding-left: 73px;
}

.count {
  font-weight: bold;
  font-size: 68px;
  margin-bottom: 10px;
}

/*----------------------------------*/
/* -------SOCIAL START--------------*/
/*----------------------------------*/

.social-title {
  font-weight: bold;
  padding-top: 80px;
  margin-top: 20px;
  text-align: center;
}

.postText {
  padding-left: 10px;
  padding-top: 5px;
  height: 125px;
  border-color: #ebb694f6;
  border-style: solid;
  border-width: 2px 2px;
}

.postTitle {
  border-color: #ebb694f6 !important;
  border-style: solid !important;
  border-width: 0px 0px 2px 0px !important;
}

.post-title {
  font-size: 30px;
  padding-top: 10px;
  font-weight: bold;
}

.post-text {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 23px;
}

.comment-card {
  border-color: #ebb694f6 !important;
  border-style: solid !important;
  border-width: 2px 0px 2px 0px !important;
  border-radius: 5%;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.post-react {
  color:rgb(255, 255, 255);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  
}

.post-react:hover {
  color: #ebb694f6;
  

}

.single-comment {
  padding-top: 100px;
}

.single-title {
  font-weight: bold;
}

.single-title-description {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 25px;


}